<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}

  {%- capture seo_title -%}
    {%- if request.page_type == 'search' and search.performed == true -%}
      {{ 'general.search.heading' | t: count: search.results_count }}: {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
    {%- else -%}
      {{ page_title }}
    {%- endif -%}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {% include 'social-meta-tags' %}

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <script>
    var theme = {
      breakpoints: {
        medium: 750,
        large: 990,
        widescreen: 1400
      },
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        regularPrice: {{ 'products.product.regular_price' | t | json }},
        salePrice: {{ 'products.product.sale_price' | t | json }},
        sale: {{ 'products.product.on_sale' | t | json }},
        fromLowestPrice: {{ 'products.product.from_lowest_price_html' | t: lowest_price: '[price]' | json }},
        vendor: {{'products.product.vendor' | t | json }},
        showMore: {{ 'general.filters.show_more' | t | json }},
        showLess: {{ 'general.filters.show_less' | t | json }},
        searchFor: {{ 'general.search.search_for' | t | json }},
        addressError: {{ 'sections.map.address_error' | t | json }},
        addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
        authError: {{ 'sections.map.auth_error_html' | t | json }},
        newWindow: {{ 'general.accessibility.link_messages.new_window' | t | json }},
        external: {{ 'general.accessibility.link_messages.external' | t | json }},
        newWindowExternal: {{ 'general.accessibility.link_messages.new_window_and_external' | t | json }},
        removeLabel: {{ 'cart.label.remove' | t: product: '[product]' | json }},
        update: {{ 'cart.label.update' | t | json }},
        quantity: {{ 'cart.label.quantity' | t | json }},
        discountedTotal: {{ 'cart.label.discounted_total' | t | json }},
        regularTotal: {{ 'cart.label.regular_total' | t | json }},
        priceColumn: {{ 'cart.label.price_column' | t | json }},
        quantityMinimumMessage: {{ 'products.product.quantity_minimum_message' | t | json }},
        cartError: {{ 'cart.general.cart_error' | t | json }},
        removedItemMessage: {{ 'cart.general.removed_item_html' | t: quantity: '[quantity]', link: '[link]' | json }},
        unitPrice: {{ 'products.product.unit_price_label' | t | json }},
        unitPriceSeparator: {{ 'general.accessibility.unit_price_separator' | t | json }},
        oneCartCount: {{ 'cart.popup.cart_count' | t: count: 1 | json }},
        otherCartCount: {{ 'cart.popup.cart_count' | t: count: '[count]' | json }},
        quantityLabel: {{ 'cart.popup.quantity_label' | t: quantity_count: '[count]' | json }},
        products: {{ 'general.search.products' | t | json }},
        loading: {{ 'general.search.loading' | t | json }},
        number_of_results: {{ 'general.search.number_of_results' | t: result_number: '[result_number]', results_count: '[results_count]' | json }},
        number_of_results_found: {{ 'general.search.number_of_results_found' | t: results_count: '[results_count]' | json }},
        one_result_found: {{ 'general.search.one_result_found' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }},
      moneyFormatWithCurrency: {{ shop.money_with_currency_format | json }},
      settings: {
        predictiveSearchEnabled: {{ settings.predictive_search_enabled | json }},
        predictiveSearchShowPrice: {{ settings.predictive_search_show_price | json }},
        predictiveSearchShowVendor: {{ settings.predictive_search_show_vendor | json }}
      }
    }

    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>

  {%- if request.page_type contains 'customers/' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {%- endif -%}

  <script src="{{ 'lazysizes.js' | asset_url }}" async="async"></script>
  <script src="{{ 'vendor.js' | asset_url }}"></script>
  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
  
  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
  

  {{ content_for_header }}
  
  
  
  
  
  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  
  
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />
  	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />



    {{ 'style.scss' | asset_url | stylesheet_tag }}
    {{ 'dark.scss' | asset_url | stylesheet_tag }}
    {{ 'font-icons.scss' | asset_url | stylesheet_tag }}
    {{ 'animate.scss' | asset_url | stylesheet_tag }}
    {{ 'magnific-popup.scss' | asset_url | stylesheet_tag }}

    {{ 'responsive.scss' | asset_url | stylesheet_tag }}
    <link href="//db.onlinewebfonts.com/c/0e979bd4a3c1c6ac788ed57ac569667f?family=revicons" rel="stylesheet" type="text/css"/>
    {{ 'settings.scss' | asset_url | stylesheet_tag }}
    {{ 'layers.scss' | asset_url | stylesheet_tag }}
    {{ 'navigation.scss' | asset_url | stylesheet_tag }}
  
  
  
  
  
    <style>
    #header.sticky-on-upscroll #header-wrap {
        -webkit-transition: height .4s ease, opacity .3s ease, top .4s ease;
        -o-transition: height .4s ease, opacity .3s ease, top .4s ease;
        transition: height .4s ease, opacity .3s ease, top .4s ease;
    }

    #header.sticky-on-upscroll.sticky-header #header-wrap { top: -60px; }

    #header.sticky-on-upscroll.show-sticky-onscroll.sticky-header #header-wrap { top: 0px; }
  </style>


<style>

    .revo-slider-emphasis-text {
        font-size: 58px;
        font-weight: 700;
        letter-spacing: 1px;
        font-family: 'Raleway', sans-serif;
        padding: 15px 20px;
        border-top: 2px solid #FFF;
        border-bottom: 2px solid #FFF;
    }

    .revo-slider-desc-text {
        font-size: 20px;
        font-family: 'Lato', sans-serif;
        width: 650px;
        text-align: center;
        line-height: 1.5;
    }

    .revo-slider-caps-text {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 3px;
        font-family: 'Raleway', sans-serif;
    }

    .tp-video-play-button { display: none !important; }

    .tp-caption { white-space: nowrap; }

</style>
  
  

  
  
  
  
{% include 'sca-quick-view-init' %}
  
  
  
  <!-- slide card styles -->
    <style>
  
      
      #button.sidebar .sidebar-content {
      
      color: #444 !important;
      border: 2px solid #c9c9e3 !important;
      
      }
      
      
      
      #slidecarthq .header {
       
/*         background-color: #ecc3dd; */
        background-image: url('{{ 'keni-gradient-bg-lg-7.jpg' | asset_img_url: 'master' }}');
        
      }
      
      
      #slidecarthq .header h2 {
       
/*         background-color: #ecc3dd; */
        margin: 0 auto;
        color: #fff !important; 
        text-shadow: 1px 1px #444;
        font-size: 30px !important;
      }
      
      #slidecarthq .header h2 .cart-count {
       
/*         background-color: #ecc3dd; */

        color: #fff !important; 
        text-shadow: 1px 1px #444;
        font-size: 30px !important;
      }
      
      .quantity-selector button {
       
       background-color: #C9C7E3;
        border: 1px solid #ecc3dd;
      }
      
      
      
  
  </style>
  
  
 </head>

  
  
<body class="template-{{ request.page_type | handle }}">
  <script>!function(){window.SLIDECART=!0;window.SLIDECART_FORMAT='{{shop.money_format}}';var e="https://cdn.jsdelivr.net/gh/apphq/slidecart-dist@master/slidecarthq.js?"+(new Date).getTime(),t=document.createElement("script");t.type="text/javascript",t.src=e,document.querySelector("body").appendChild(t)}();</script>

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  {%- if settings.enable_ajax -%}
    {% include 'cart-popup' %}
  {%- endif -%}

  {% section 'header' %}



  <div class="page-container drawer-page-content" id="PageContainer">

    <main class="main-content js-focus-hidden" style="padding-top: 0;" id="MainContent" role="main" tabindex="-1">
      

      
      {% comment %}  
      {% section 'slider' %}
       {% endcomment %}
      

      
      
       <section id="content">
        <div class="content-wrap">
          
          


		  {% comment %}
          {% section 'new-arrivals' %}

		  {% section 'banner' %}

          {% section 'slider-2' %}

                  {% section 'about' %}

          		  {% section 'brands' %}

          {% section 'products-list' %}



          {% section 'social' %}
          {% endcomment %}
      

        </div>
      </section>
      
      
      
      {{ content_for_layout }}
 {% include 'station-tabs' %}
      

      
    </main>
    
 

    {% section 'footer' %}
    
    

    <div id="slideshow-info" class="visually-hidden" aria-hidden="true">
      {{- 'sections.slideshow.navigation_instructions' | t -}}
    </div>

  </div>

  <ul hidden>
    <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
    <li id="a11y-selection-message">{{ 'general.accessibility.selection_help' | t }}</li>
  </ul>
  
  
  
  
  
  
  
  
  
  {{ 'theme.js' | asset_url | script_tag }}
  
  
  <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous">
</script>
  {{ 'plugins.js' | asset_url | script_tag }}


  {{ 'functions.js' | asset_url | script_tag }}


  {{ 'jquery.themepunch.tools.min.js' | asset_url | script_tag }}
  {{ 'jquery.themepunch.revolution.min.js' | asset_url | script_tag }}



  {{ 'revolution.extension.video.min.js' | asset_url | script_tag }}
  {{ 'revolution.extension.slideanims.min.js' | asset_url | script_tag }}
  {{ 'revolution.extension.actions.min.js' | asset_url | script_tag }}
  {{ 'revolution.extension.layeranimation.min.js' | asset_url | script_tag }}
  {{ 'revolution.extension.kenburn.min.js' | asset_url | script_tag }}
  {{ 'revolution.extension.navigation.min.js' | asset_url | script_tag }}
  {{ 'revolution.extension.migration.min.js' | asset_url | script_tag }}
  {{ 'revolution.extension.parallax.min.js' | asset_url | script_tag }}



  
  


  <script>

    var tpj=jQuery;
    tpj.noConflict();

    tpj(document).ready(function() {

        var apiRevoSlider = tpj('#rev_slider_ishop').show().revolution(
            {
                sliderType:"standard",
                jsFileLocation:"include/rs-plugin/js/",
                sliderLayout:"fullwidth",
                dottedOverlay:"none",
                delay:9000,
                navigation: {},
                responsiveLevels:[1200,992,768,480,320],
                gridwidth:1140,
                gridheight:500,
                lazyType:"none",
                shadow:0,
                spinner:"off",
                autoHeight:"off",
                disableProgressBar:"on",
                hideThumbsOnMobile:"off",
                hideSliderAtLimit:0,
                hideCaptionAtLimit:0,
                hideAllCaptionAtLilmit:0,
                debugMode:false,
                fallbacks: {
                    simplifyAll:"off",
                    disableFocusListener:false,
                },
                navigation: {
                    keyboardNavigation:"off",
                    keyboard_direction: "horizontal",
                    mouseScrollNavigation:"off",
                    onHoverStop:"off",
                    touch:{
                        touchenabled:"on",
                        swipe_threshold: 75,
                        swipe_min_touches: 1,
                        swipe_direction: "horizontal",
                        drag_block_vertical: false
                    },
                    arrows: {
                        style: "ares",
                        enable: true,
                        hide_onmobile: false,
                        hide_onleave: false,
                        tmp: '<div class="tp-title-wrap">	<span class="tp-arr-titleholder">{{title}}</span> </div>',
                        left: {
                            h_align: "left",
                            v_align: "center",
                            h_offset: 10,
                            v_offset: 0
                        },
                        right: {
                            h_align: "right",
                            v_align: "center",
                            h_offset: 10,
                            v_offset: 0
                        }
                    }
                }
            });

        apiRevoSlider.bind("revolution.slide.onloaded",function (e) {
            SEMICOLON.slider.sliderParallaxDimensions();
        });

    }); //ready

</script>


<script>
    jQuery(document).ready( function($){
        var lastScrollTop = 0;
        window.addEventListener("scroll", function(event){
            var st = $(this).scrollTop();
            if (st > lastScrollTop){
                jQuery('#header.sticky-on-upscroll').removeClass('show-sticky-onscroll'); // Down Scroll
            } else {
                jQuery('#header.sticky-on-upscroll').addClass('show-sticky-onscroll'); // Up Scroll
            }
            lastScrollTop = st;
        });
    });
</script>
  
  
  
  
  
  {% comment %}
  



  
    {{ 'application.js' | asset_url | script_tag }}
  {% endcomment %}
  
  
  
  
  
  

<!-- **BEGIN** Hextom USB Integration // Main Include - DO NOT MODIFY -->
    {% render 'hextom_usb_main', product: product, customer: customer %}
    <!-- **END** Hextom USB Integration // Main Include - DO NOT MODIFY -->
 {% include 'smile-initializer' %}


<!-- **BEGIN** Hextom SPM Integration // Main Include - DO NOT MODIFY -->
    {% render 'hextom_spm_main', product: product, customer: customer %}
    <!-- **END** Hextom SPM Integration // Main Include - DO NOT MODIFY -->
{% include 'sca-quick-view-template' %} 
 
{% include 'swymSnippet' %}

</body>
</html>
