<div class="container clearfix" style="margin-bottom: 60px;">
    <div class="clear"></div>
  
    <div class="section-header text-center testing class" style="background-image: url('{{ 'keni-gradient-bg-lg-7.jpg' | asset_img_url: 'master' }}'); padding: 30px 0 30px 0; border: 1px solid #444;">
      <h2 style="margin: auto auto;">Resume</h2>
    </div>

<!--     <div class="fancy-title title-border title-center topmargin-sm">
        <h4>Popular Brands</h4>
    </div> -->

    <ul class="clients-grid grid-6 nobottommargin clearfix">
        <li><a href="#"><img src="{{ 'client-1.png' | asset_img_url: 'master'}}" alt="Clients"></a></li>
        <li><a href="#"><img src="{{ 'client-2.png' | asset_img_url: 'master'}}" alt="Clients"></a></li>
        <li><a href="#"><img src="{{ 'client-3.png' | asset_img_url: 'master'}}" alt="Clients"></a></li>
        <li><a href="#"><img src="{{ 'client-4.png' | asset_img_url: 'master'}}" alt="Clients"></a></li>
        <li><a href="#"><img src="{{ 'client-5.png' | asset_img_url: 'master'}}" alt="Clients"></a></li>
        <li><a href="#"><img src="{{ 'client-6.png' | asset_img_url: 'master'}}" alt="Clients"></a></li>
        <li><a href="#"><img src="{{ 'client-7.png' | asset_img_url: 'master'}}" alt="Clients"></a></li>
        <li><a href="#"><img src="{{ 'client-8.png' | asset_img_url: 'master'}}" alt="Clients"></a></li>
        <li><a href="#"><img src="{{ 'client-9.png' | asset_img_url: 'master'}}" alt="Clients"></a></li>
        <li><a href="#"><img src="{{ 'client-10.png' | asset_img_url: 'master'}}" alt="Clients"></a></li>
        <li><a href="#"><img src="{{ 'client-11.png' | asset_img_url: 'master'}}" alt="Clients"></a></li>
        <li><a href="#"><img src="{{ 'client-12.png' | asset_img_url: 'master'}}" alt="Clients"></a></li>
        <li><a href="#"><img src="{{ 'client-13.png' | asset_img_url: 'master'}}" alt="Clients"></a></li>
        <li><a href="#"><img src="{{ 'client-14.png' | asset_img_url: 'master'}}" alt="Clients"></a></li>
        <li><a href="#"><img src="{{ 'client-15.png' | asset_img_url: 'master'}}" alt="Clients"></a></li>
        <li><a href="#"><img src="{{ 'client-16.png' | asset_img_url: 'master'}}" alt="Clients"></a></li>
        <li><a href="#"><img src="{{ 'client-17.png' | asset_img_url: 'master'}}" alt="Clients"></a></li>
        <li><a href="#"><img src="{{ 'client-18.png' | asset_img_url: 'master'}}" alt="Clients"></a></li>
    </ul>

</div>





{% schema %}
  {
    "name": "Brand Section",
    "settings": [],
	"presets": [
      {
        "category": "Brands",
        "name": "Brand Section"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
